<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lab 9 Automation Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="framework.utils.RetryListener"/>
    </listeners>

    <test name="SauceDemo Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="env" value="dev"/>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.CartTest"/>
            <class name="tests.FlakySimulationTest"/>
        </classes>
    </test>
</suite>